<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/user.css">
    <title>{{name}}</title>
</head>
<body>
    <div class="grid-title">
        <div class="photo"><img src={{img}}></div>
        <div class="name">
            <div>{{name}}</div>
            <div>{{nick}}</div>
        </div>
        <div class="new"><a href="http://127.0.0.1:5000/new_note_1">Создать<br>новую<br>запись</a></div>
    </div>
    <div class="grid-notes">
        <a href="http://127.0.0.1:5000/notes/{{user_id}}"><div class="note">Показать все</div></a>
    </div>
</body>
</html>